sounddevice
scipy
numpy
faster-whisper
edge-tts
python-dotenv
groq
rapidfuzz
pycaw
comtypes
requests
pyperclip
pillow
plyer
screen-brightness-control
pyttsx3
anthropic
apscheduler<4
pygetwindow
piper-tts
chromadb
sentence-transformers
openwakeword
flask
google-api-python-client
google-auth-oauthlib
pyautogui
opencv-python
beautifulsoup4
